{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font mt-4">User Reviews</h2>
            <hr class="w-50 mt-3 mb-3">
        </div>
    </div>

    <!-- User reviews -->
    {% if posts %}
        <div class="row mb-5">
            {% for post in posts %}
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                    <div class="card rounded">
                        <div class="card-header">
                            <div class="card-header-title text-center">
                                <h4>
                                    <a href="{% url 'review_details' post.slug %}" class="title-heading-small blog-title">
                                        {{ post.title | capfirst }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="review-img-container text-center">
                            {% if post.image %}
                                <a href="{% url 'review_details' post.slug %}">
                                    <img  class="blog-post-img img-fluid p-2" src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'review_details' post.slug %}">
                                    <img  class="blog-post-img img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ post.title }}"/>
                                </a>
                            {% endif %}
                        </div>
                        <hr class="w-100">
                        <div class="card-body">
                            <div class="blog-content content">
                                <p class="blog-p">Added By: <span class="blog-small">{{ post.author }},
                                        {{ post.created_on|timesince }}
                                        ago </span>
                                </p>
                                {% if post.comments.all|length == 0 %}
                                <p class="blog-p"><i class="far fa-comments"></i> 
                                    <a class="ml-2" href="{% url 'review_details' post.slug %}">
                                        Add A Comment
                                    </a>
                                </p>
                                {% else %}                                 
                                <p class="blog-p"><i class="far fa-comments"></i>
                                    <a class="ml-2" href="{% url 'review_details' post.slug %}">See all {{ post.comments.all|length }} comments</i>
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h5 class="text-center">There are currently no reviews to see!</h5>
                <p class="text-center"></p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}