{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 main-page-logo">
                Cartwright's Jewellery & Goldsmiths
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="about-section">
    <div class="container">
        <div class="row">
            <div class="col text-center about-header">
                <h2 class="about-title">
                    About Us
                </h2>
                <hr class="mt-4">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 col-lg-6 about-image">
                <img class="home-img img-fluid" src="{% static 'images/goldsmith2.jpg' %}" alt="Diamond Ring">
            </div>
            <div class="col-md-12 col-lg-6 about-content align-self-center mt-3">
                <div class="about-text text-center my-auto">
                    <p class="lead fade-in">
                        We are a well established jewellers and goldsmiths with two award wining studios located in Porthcawl and Porth Rhondda, that specialise in handmade jewellery, designed and manufactured by our goldsmiths on site. We also offer a comprehensive repair & alteration service on all types of jewellery.
                    </p>

                    <p class="lead fade-in">
                        As well as our handmade jewellery we also stock a wide variety of other Gold, Platinum & Silver Jewellery, including designer silver ranges.
                    </p>

                    <p class="lead fade-in">
                        Our original studio was opened in Porth in the heart of the Welsh valleys in 1989 and our more recent flagship studio is located in the beautiful sea side town of Porthcawl.
                    </p>

                    <p class="lead fade-in">
                        We are regarded as one of Wales's best jewellers and goldsmiths winning many awards and accolades over the years and boasting a huge loyal customer base all over the UK.
                    </p>    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center about-header">
                <h2 class="about-title mt-4">
                    Bespoke Design Services
                </h2>
                <hr class="mt-4">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="lead fade-in mt-3">
                    Got a vision for that perfect item of jewellery, but just cant seem to find it on the high street? No problem! with our on site workbenches we can turn your vision into reality. Wether its a rough sketch on the back of a napkin or a collection of photographs from the internet we can help you turn that idea into a beautiful hand crafted individual item of jewellery. We even provide a service where you can supply your own gold for us to use to make that special item, wether it be some sentimental items of jewellery passed down from a special relative or just some unused items that are sitting at the bottom of your jewellery box. Contact us now to discuss your needs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-2">
                <img class="img-fluid mb-2" src="{% static 'images/bespoke-1.png' %}" alt="">
            </div>
            <div class="col-lg-4 col-md-12 mb-2">
                <img class="img-fluid mb-2" src="{% static 'images/bespoke-3.png' %}" alt="">
            </div>
            <div class="col-lg-4 col-md-12">
                <img class="img-fluid mb-2" src="{% static 'images/bespoke-2.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

{% endblock %}