{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 main-page-logo">
                Cartwright's Jewellery & Goldsmiths
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="about-section">
    <div class="container">
        <div class="row">
            <div class="col text-center about-header">
                <h2 class="about-title">
                    About Us
                </h2>
                <hr class="mt-4">
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12 col-lg-6 about-image">
                    <img class="home-img img-fluid" src="{% static 'images/goldsmith2.jpg' %}" alt="Diamond Ring">
                </div>
                <div class="col-md-12 col-lg-6 about-content">
                    <p class="lead fade-in">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti, sunt? Natus iure dolore
                        nostrum itaque quibusdam libero, laborum totam illum omnis molestiae in ipsa odio tempore
                        maiores! Enim corporis cupiditate nesciunt beatae quam facilis, id culpa eveniet, adipisci
                        officia, nihil ipsam facere aut et tempore eaque quas dignissimos. Quia, perferendis atque
                        accusamus possimus tempore ipsum deserunt! Dolores, aperiam eveniet a esse unde doloremque
                        molestias, magnam non explicabo facere, facilis amet velit tenetur. Rem modi repudiandae esse
                        alias dignissimos ipsa magni. Minima, eum corporis voluptate autem, corrupti nam modi earum
                        incidunt alias officia nostrum eligendi debitis consequatur inventore ducimus nemo eius. A quis
                        quas ratione autem! Ad quod quo atque aperiam a itaque quia doloremque id. Laborum repellendus
                        voluptatum atque saepe. Ullam voluptatibus, illum suscipit quia mollitia corporis tenetur harum
                        placeat, minima culpa libero nesciunt ex distinctio iusto reprehenderit corrupti? Ea nisi
                        officia porro neque nostrum. Tempore laboriosam quos eius in id, at sed minima laborum cum
                        laudantium? Accusamus iste assumenda eum? Molestias repellendus expedita quaerat dolore ut
                        quibusdam harum. Perferendis pariatur explicabo eaque placeat distinctio inventore, molestias
                        iusto repellendus nemo deleniti omnis ad quod labore obcaecati eveniet. Deleniti iste ut magnam
                        adipisci, quo eveniet dolores facere officiis quos cum consectetur!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}