/* ---------- Root Variables ---------- */

:root {
    /* CSS HEX */
    --blue-munsell: #068caf;
    --cerulean-crayola: #08a9d3;
    --cerulean-crayola-gradient: #0884a3;
    --vivid-sky-blue: #0acdff;
    --opal: #bfd2cf;
    --gainsboro: #dedee0;
    --silver: #c5c3c6;
    --davys-grey: #535354;
    --eerie-black: #232426;
}

html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    background: url(/static/images/home-img.png) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 164px);
    color: var(--eerie-black);
    font-family: 'Source Sans Pro', sans-serif;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 100px;
    right: 10px;
    color: black;
    text-decoration: none;
    z-index: 999;
}

.text-black {
    color: var(--eerie-black);
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btn-outline-black {
    background: var(--vivid-sky-blue);
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover {
    background: var(--blue-munsell);
    color: white !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

/* Icon sizing from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Toast Styling */
.message-container {
    position: fixed;
    top: 92px;
    right: 15px;
    z-index: 9999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------ Navigation Styling */

/* --- Navigation --- */
#topnav {
    background-color: var(--vivid-sky-blue);
}

.nav-link {
    text-transform: uppercase;
    color: var(--eerie-black) !important;
    font-family: 'Playfair Display', sans-serif;
}

.main-logo-link {
    width: fit-content;
}

.navbar-logo {
    font-size: 2.3rem;
    font-weight: 600;
}

.nav-options {
    background-color: var(--vivid-sky-blue);
}

.control-btn {
    background: var(--vivid-sky-blue);
}

.control-btn:hover {
    background: var(--cerulean-crayola-gradient);
}


/* --- Nav Dropdown Styling --- */

li a {
    color: #232426;
    font-weight: bold;
    font-size: 1.2rem;
}

.dropdown-item {
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #0acdff;
}


/* --- Delivery Banner --- */
.bg-black {
    background-color: #232426;
    text-transform: uppercase;
}

.banner-font {
    font-size: 1.25rem;
}


/* -------------------- Main Page CSS */
.main-page-logo {
    font-size: 3.8rem;
    font-weight: 500;
}

.shop-now-button {
    min-width: 260px;
    z-index: 100;
    position: relative;
    background: var(--vivid-sky-blue);
    color: var(--eerie-black);
    border: 1px solid black;
}

.shop-now-button:hover {
    background: var(--cerulean-crayola-gradient);
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

a:visited {
    text-decoration: none;
    color: var(--eerie-black);
}

/* --- About Us Styling --- */

#about-section {
    background-color: white;
    padding-bottom: 50px;
}

.about-header {
    margin-top: 30px;
}

.about-title {
    font-size: 3rem;
}

/* .home-img {
    height: 600px !important;
    width: 600px !important;
} */


/* ------------------------------ Products Page Styling */

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--gainsboro);
    z-index: -1;
}

span.badge {
    background: var(--vivid-sky-blue);
}

a.category-badge>span.badge:hover {
    background: var(--blue-munsell) !important;
}


/* ------------------------------ Footer Styling */
footer {
    background-color: var(--vivid-sky-blue) !important;
    position: absolute;
    width: 100%;
}

button .subscribe-btn {
    border: #232426 !important;
    background-color: #dedee0;
}


/* -------------------------------- Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: var(--eerie-black);
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: var(--davys-grey);
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}