<footer class="container-fluid footer-container text-black">
    <div class="row">
        <!----- Site Links ----->
        <div class="footer-content col-12 col-md-4 text-center mt-4">
            <h5>Explore</h5>
            <hr>
            <p><a href="{% url 'home' %}" class="footer-menu-link text-black">Home</a></p>
            <p><a href="{% url 'products' %}?category=rings,chains,earings,bracelets,watches" class="footer-menu-link text-black">All Products</a></p>
            <p><a href="{% url 'reviews' %}" class="footer-menu-link text-black">User Reviews</a></p>
        </div>
        <!----- Contact Info ----->
        <div class="footer-content col-12 col-md text-center mt-4">
            <h5>Contact</h5>
            <hr>
            <p><i class="fas fa-phone"></i> +44123 567891</p>
            <p><i class="fas fa-envelope-open"></i> info@cartwrightsjewellery.com</p>
            <p><i class="fas fa-map-marker-alt"></i> Cartwright's Jewellery, 123 Hannah Street, Porth, Rhondda Cynnon Taff, CF39 9RE </p>
        </div>
        <!----- Social Links ----->
        <div class="footer-content col-12 col-md-4 text-center mt-4">
            <h5>Follow</h5>
            <hr>
            <p><a href="https://www.facebook.com" target="_blank" rel="noopener" class="text-black"><i class="fab fa-facebook-square text-black"></i> Facebook</a></p>
            <p><a href="https://www.twitter.com/" target="_blank" rel="noopener" class="text-black"><i class="fab fa-twitter-square"></i> Twitter</a></p>
            <p><a href="https://www.instagram.com" target="_blank" rel="noopener" class="text-black"><i class="fab fa-instagram-square"></i> Instagram</a></p>
            <p><a href="https://www.pinterest.com" target="_blank" rel="noopener" class="text-black"><i class="fab fa-pinterest"></i> Pinterest</a></p>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text-black text-center" id="copyright">
            © 2021 Cartwright's Jewellery
        </div>
    </div>
</footer>