<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=rings">Rings</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=chains">Chains</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=earings">Earings</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=bracelets">Bracelets</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=watches">Watches</a></li>
                <li><a class="dropdown-item"
                        href="{% url 'products' %}?category=rings,chains,earings,bracelets,watches">All Products</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Collections
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=bee_collection">Bee Collection</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=sheep_collection">Sheep Collection</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=elegance_collection">Elegence
                        Collection</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Special Offers
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals">New Arrivals</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=deals">Deals</a></li>
                <li><a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals,deals">All Specials</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="#">
                Design Service
            </a>
        </li>

    </ul>
</div>