:root {
  /* CSS HEX */
  --blue-munsell: #068caf;
  --cerulean-crayola: #08a9d3;
  --cerulean-crayola-gradient: #0884a3;
  --vivid-sky-blue: #0acdff;
  --opal: #bfd2cf;
  --gainsboro: #dedee0;
  --silver: #c5c3c6;
  --davys-grey: #535354;
  --eerie-black: #232426;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: var(--eerie-black);
}

.fieldset-label {
  position: relative;
  right: .5rem;
}

#payment-form .form-control,
#card-element {
  color: #000 !important;
  border: 1px solid #000;
}

select,
select option {
  color: var(--eerie-black);
}

select:invalid,
select option[value=""] {
  color: var(--gainsboro) !important;
}

/* Order summary border */
div .border {
  border: 1px solid var(--eerie-black) !important;
}

/* Loading Overlay styling */
#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 162, 184, .85);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}